# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
.pub-cache/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
